@import "antd/dist/antd.css";
@import "~print.css";

.ant-layout-header {
  height: 40px;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
}

.ant-layout-has-sider {
  position: relative;
  top: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  /* float: left; */
  width: 200px;
  margin: 0px 24px 0px 0;
}

.user {
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.card-header {
  background: #fafafa;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ant-spin.ant-spin-show-text .ant-spin-text {
  padding: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

#serialResults {
  font-family: monospace;
  white-space: pre;
  height: calc(100% - 120px);
  width: calc(100% - 20px);
  border-style: solid;
  overflow: scroll;
  background-color: rgb(88, 92, 92);
  padding: 10px;
  margin: 0px;
}

.ant-input-number-group-wrapper {
  display: block;
}

.ant-layout-header {
  background: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
