@import "antd/dist/antd.css";
@import "~print.css";

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.logo {
  /* float: left; */
  width: 200px;
  height: 31px;
  margin: 16px 24px 16px 0;
  color: #fff;
  line-height: 32px;
}

.user {
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.card-header {
  background: #fafafa;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ant-spin.ant-spin-show-text .ant-spin-text {
  padding: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

#serialResults {
  font-family: monospace;
  white-space: pre;
  height: calc(100% - 120px);
  width: calc(100% - 20px);
  border-style: solid;
  overflow: scroll;
  background-color: rgb(88, 92, 92);
  padding: 10px;
  margin: 0px;
}
