@import "antd/dist/antd.css";

.logo {
  float: left;
  width: 200px;
  height: 31px;
  margin: 16px 24px 16px 0;
  color: #fff;
  line-height: 32px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.card-header {
  background: "#fafafa";
}
